form {
    background-color: #b2afaf;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 50%;
    width: 50%;
  }
  .radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }
  
  .title,.satisfaction-label , .like-label{
    font-weight: bolder;
  }
  .subBtn{
    background-attachment: fixed;
    color:aliceblue;
    background-color: rgb(21, 20, 20);
    font-weight: bold;
    position: relative;
    top:5px;
 
  }
  #comments{
    background-attachment: fixed;
   
  }